<div class="column">
  <div class="ui card">
    <a class="image" src={{news.image}} href={{news.link}}></a>
    <div class="content">
      <div class="header">{{news.headline}}</div>
      <div class="meta">Upvotes: {{news.rank}}</div>
    </div>
  </div>
</div>
