{{#md-navbar name='Ember.js PouchDB Benchmark' class='red lighten-1 navbar-fixed' }}
{{/md-navbar}}

<div class="container">
  <div class="row content-row">
    <div class="col s3">
      <div class="collection">
        <div class="chip">
        <img src="img/pouch.png" alt="PouchDB icon">
          PouchDB
        </div>
        {{#link-to 'pouch'}}Access Tests{{/link-to}}
      </div>
      <div class="collection">
        <div class="chip">
        <img src="img/firefox.png" alt="PouchDB icon">
          LocalForage
        </div>
        {{#link-to 'localforage'}}Access Tests{{/link-to}}
      </div>
    </div>
    <div class="col s9">
      {{outlet}}
    </div>
  </div>
</div>

<!-- No footer component in ember-cli-materialize yet -->
<footer class="page-footer red lighten-1">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">TenForce education</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">© 2015 TenForce
      <a class="grey-text text-lighten-4 right" href="http://www.tenforce.com/">tenforce.com</a>
    </div>
  </div>
</footer>
