<div class="ui fluid container">
  <div class="ui grid">
    <div class="ui row centered">
      <h1 class="ui header centered">FreeCodeCamp</h1>
    </div>
    <div class="ui row centered">
      <h3 class="ui header centered">Camper News</h3>
    </div>
  </div>
</div>

<div class="ui fluid container">
  <div class="ui four column grid">
    {{outlet}}
  </div>
</div>
