<div class="header-row">
  <div class="ui fluid container">
    <div class="ui grid">
      <div class="ui row centered">
        <h1 class="ui header centered"><span class="my-title">FreeCodeCamp</span></h1>
      </div>
      <div class="ui row centered">
        <h3 class="ui header centered"><span class="my-subtitle">Camper News</span></h3>
      </div>
    </div>
  </div>
</div>

<div class="ui container">
  <div class="ui three column grid">
    {{outlet}}
  </div>
</div>
